body {
  font-family: "Noto Serif JP", serif;
  color: #333333;
  font-size: 16px;
  line-height: 170%;
  font-weight: 300px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

.inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.header {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 120px;
  display: block;
}

.header__nav {
  z-index: 9999;
  background-color: #3ea1d1;
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  right: 0;
  top: 60px;
  padding: 32px 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.header__nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header__nav {
    background-color: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .header__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 46px;
  }
}

.header__link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header__link {
    color: #333333;
    font-size: 16px;
  }
}

.drwaer-icon {
  width: 30px;
  height: 18px;
  position: relative;
}
.drwaer-icon.is-checked .drwaer-icon__bar:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drwaer-icon.is-checked .drwaer-icon__bar:nth-child(2) {
  display: none;
}
.drwaer-icon.is-checked .drwaer-icon__bar:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .drwaer-icon {
    display: none;
  }
}

.drwaer-icon__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background-color: #3ea1d1;
}
.drwaer-icon__bar:nth-child(1) {
  top: 0;
}
.drwaer-icon__bar:nth-child(2) {
  top: 8px;
}
.drwaer-icon__bar:nth-child(3) {
  top: 16px;
}

.fv__inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .fv__image {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
}
.fv__message {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .fv__message {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    background: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.fv__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.7;
}
.fv__title br {
  display: none;
}
@media screen and (min-width: 768px) {
  .fv__title br {
    display: inline;
  }
}

.fv__text {
  margin-top: 16px;
}

.concept {
  margin-top: 96px;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-bottom: 64px;
  }
}
.heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #3ea1d1;
  margin-top: 28px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .heading::after {
    margin-top: 24px;
  }
}

.concept__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .concept__image {
    width: 50%;
  }
}

.concept__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 1.7;
}

.concept__text {
  font-size: 16px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .concept__text {
    width: calc(50% - 80px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
  }
}

.feature {
  margin-top: 96px;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .feature__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 90px;
  }
}

.feature__item {
  -webkit-box-shadow: 3px 3px 15px 0 rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px 0 rgba(96, 96, 96, 0.16);
}

.feature__title-text {
  padding-block: 26px;
  text-align: center;
}

.about {
  margin-block: 96px;
  background-image: url(../img/sp/bg.jpg);
  background-size: cover;
  position: relative;
}
.about::before {
  position: absolute;
  content: "";
  display: block;
  inset: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .about {
    margin-block: 160px;
    background-image: url(../img/bg.jpg);
  }
}

.about__inner {
  padding-bottom: 50px;
  max-width: 1200px;
  margin-inline: auto;
}

.about__message {
  color: #fff;
  padding: 0 15px;
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__message {
    padding: 0 40px;
  }
}

.about__title {
  padding: 180px 0 0;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
}

.about__title-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 24px;
}

.product__inner {
  padding-inline: 56px;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .product__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
  }
}

@media screen and (min-width: 768px) {
  .product__item {
    width: 27.6595%;
  }
}
.product__item:hover {
  opacity: 0.7;
}

.product__image img {
  width: 100%;
  display: block;
}

.product__text {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .product__text {
    margin-top: 18px;
  }
}

.product__text-content {
  font-size: 14px;
  line-height: 1.7;
}

.product__price {
  color: #989898;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.product__more {
  border: 1px solid #3ea1d1;
  width: 158px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 4px;
  margin: 42px auto 0;
  display: block;
  color: #3ea1d1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02px;
}

.news {
  margin-top: 96px;
}

.news__item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 28px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .news__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 260px;
  }
}

.news__text-date {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 16px;
}

.news__text-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .news__text-title {
    font-size: 18px;
  }
}

.news__text-content {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.7;
  color: #888;
}

.news__more {
  border: 1px solid #3ea1d1;
  width: 158px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 4px;
  margin: 42px auto 0;
  display: block;
  color: #3ea1d1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02px;
}